{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Shruthi's Trimester 1 Class Schedule</strong></h1>
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Period</th>
                <th scope="col">Course</th>
                <th scope="col">Room #</th>
                <th scope="col">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Economics</td>
                <td>L104</td>
                <td>Mr. Curry</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Expos Reading and Writing 1</td>
                <td>G111</td>
                <td>Mr. Nevares</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Chamber Choir</td>
                <td>M116</td>
                <td>Ms. Wong</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>AP Computer Science Principles</td>
                <td>A101</td>
                <td>Mr. Mortenson</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>AP Statistics</td>
                <td>G103</td>
                <td>Ms. Derkson</td>
              </tr>
            </tbody>
          </table>
{% endblock %}

