{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Shruthi's Python Web Server</strong></h1>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Period</th>
                <th scope="col">Subject</th>
                <th scope="col">Room #</th>
                <th scope="col">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Economics</td>
                <td>L104</td>
                <td>Mr. Curry</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Expos Reading and Writing 1</td>
                <td>G111</td>
                <td>Mr. Nevares</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
            </tbody>
          </table>
{% endblock %}

